/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5/09/2020, 02:55:11 AM
    Author     : jmontoya
*/

.color-text1{
    color: #216a94;
}


.color-text2{
    color: #bcd42a;
}


.color-text3{
    color: #F5716C;
}


.color-text4{
    color: #0000F0;
}


.size-text1{
    font-size: 26px;
}


.text-content{
    background-color: #F5716C; 
    float: left; 
    width: 500px;
}

